<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="\static\images\logo.jpg" alt="logo" class="rimg" />
        <h1> SUPPLIMENTS ON SALE</h1>
        <ul>
            {% for item in products %}
                <li><strong>{{ item.name }}</strong> — {{ item.price }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
